#about-us {
    padding-top: 80px;
    padding-bottom: 100px;

    h1 {
    	margin-bottom: 40px;
    	font: 500 42px/52px "Poppins", sans-serif;
    	margin-top: 20px;
    	color: inherit;
    	margin: .67em 0;
}
	.sub-heading {
	    margin-left: 10%;
	    margin-right: 10%;
}
	p {
    	margin-bottom: 50px;
    	font: 400 16px/26px "Raleway", sans-serif;
    	margin: 0 0 10px;
}
	.about-image {
    	width: 85%;
}
	h2 {
    	margin-bottom: 40px;
    	margin-top: 80px;
    	font: 500 22px/31px "Poppins", sans-serif;
    	color: inherit;
}
	.development-process {
    	text-align: left;
}
	img {
	    margin-top: 0px;
	    margin-bottom: 30px;
	    border-radius: 3px;
}
.text-div {
    margin-top: 13px;
}
 .box-title {
    font: 600 20px/30px "Raleway", sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
	 p {
    margin-bottom: 5px;
    margin-left: 0%;
    margin-right: 0%;
    font: 400 16px/26px "Raleway", sans-serif;
    margin: 0 0 10px;
}
 .button-small-solid {
    display: inline-block;
    margin-top: 20px;
    font: 500 16px/26px "Poppins", sans-serif;
    background-color: #36b57c;
    color: #fff;
    border-radius: 3px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border: 0;
}
.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.text-center {
    text-align: center;
}
* {
    box-sizing: border-box;
}