footer {
    padding-top: 22px;
    padding-bottom: 18px;
    background-color: #41a2ef;
    display: block;
    p {
    font: 400 14px/22px "Raleway", sans-serif;
    color: #eeeeee;
    text-align: center;
    opacity: 0.8;
    width: 90%;
    margin: 0 auto;
}
}