#our-team {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #41a2ef;
    h1{
    	color: #fff;
    	margin-top: 20px;
    	margin: .67em 0;
    }
    membros {
    	display: inline-block;
}
	img {
	    width: 81%;
	    margin-left: 7px;
	    margin-right: 7px;
	    margin-top: 40px;
}
	 p {
	    margin-top: 15px;
	    color: #fff;

	.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.job-title {
    font-weight: 500;
}
}
}
img {
    vertical-align: middle;
    border: 0;
}
p {
    font: 400 16px/26px "Raleway", sans-serif;
    margin: 0 0 10px;
}
* {
    box-sizing: border-box;
}